@import "pages/variables";
@import "pages/templates";
@import "pages/header";
@import "pages/index/index";
@import "pages/footer";
@import "pages/index/component/carrousel";
@import "pages/index/component/formIngr";
@import "pages/index/component/formReg";
@import "pages/informacion";
@import "pages/ayuda";
@import "pages/en_construccion";

/* RESET'S */
* {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: $color-grey;
  text-decoration: none;
}
body.dark {
  background-color: $color-black-light;
}

/* GENERALES************************************************************************************ */

.bordes {
  border: 0.1rem solid black;
}
