.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "menuBurger header__purchase" "header__title header__title" "search search" "navBar navBar";
  column-gap: 2rem;
  background-color: $color-site;
  padding: 0rem 2rem 1rem;
  &__menuBurger {
    background-color: $color-site;
    border: none;
    grid-area: menuBurger;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 1rem;
    &--icon {
      width: 3rem;
      height: 3rem;
    }
    &__container {
      width: 20rem;
      height: 15rem;
      display: flex;
      align-items: center;
      &__botom {
        height: 2.7rem;
        border-radius: 3rem;
        padding: 0rem 1rem;
        margin: 0.5rem 0rem;
        transition: all 0.5s;

        &--text {
          text-decoration: none;
          font-size: 1.5rem;
          color: whitesmoke;
          transition: all 0.5s;
        }
      }
      &__botom:hover {
        height: 2.7rem;
        border: 3px solid whitesmoke;
        border-radius: 3rem;
        padding: 0rem 1rem;
        background-color: $color-white;
        box-shadow: 0px 0px 1rem 0.5rem $color-grey-light;
      }
      &--text:hover {
        font-size: 1.5rem;
      }
    }
  }

  .header__purchase {
    display: flex;
    grid-area: header__purchase;
    justify-self: flex-end;
    align-self: center;
    margin-top: 1rem;
    .header__purchase--text {
      text-decoration: none;
      font-size: 1.9rem;
      color: $color-black;
      font-weight: bold;
      transition: all 0.5s;
    }
    .header__purchase--text:hover {
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 0.2rem solid $color-black;
      border-radius: 1rem;
    }
    .header__purchase--carrito {
      width: 3rem;
      vertical-align: middle;
    }
  }

  .header__title {
    display: flex;
    grid-area: header__title;
    font-size: 1.5rem;
    justify-content: center;
    .header__title--text {
      text-decoration: none;
    }

    .header__title--text1 {
      color: whitesmoke;
      font-family: serif;
    }
    .header__title--text2 {
      color: rgb(204, 16, 16);
      font-style: italic;
      font-weight: bold;
    }
  }

  .header__navUser {
    grid-area: header__navUser;
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    .header__navUser__botom {
      height: 2.7rem;
      border-radius: 3rem;
      padding: 0rem 1rem;
      transition: all 0.5s;
    }
    .header__navUser__botom:hover {
      height: 2.7rem;
      border: 3px solid whitesmoke;
      border-radius: 3rem;
      padding: 0rem 1rem;
    }
    .header__navUser__botom--text {
      text-decoration: none;
      font-size: 1.5rem;
      color: whitesmoke;
      transition: all 0.5s;
    }
    .header__navUser__botom--text:hover {
      font-size: 1.5rem;
      color: whitesmoke;
    }
    .header__navUser__botom--textList {
      text-decoration: none;
      color: $color-black;
      font-size: 2rem;
    }
    .header__navUser__botom--textList:hover {
      text-decoration: none;
      color: rgb(0, 49, 33);
      font-size: 2rem;
    }
  }
  &__search {
    grid-area: search;
    margin-bottom: 1rem;
    &__imput {
      border-radius: 0.5rem;
      height: 3.5rem;
      font-size: 1.7rem;
    }
    &__botom {
      border-radius: 0.5rem;
      font-size: 1.5rem;
      color: $color-black-light;
      font-weight: 600;
      border: solid $color-site-secondary;
    }
    &__botom:hover {
      background-color: $color-site-secondary;
      border-color: $color-white;
    }
  }

  &__navBar {
    background-color: $color-site-secondary;
    border-radius: 1rem;
    grid-area: navBar;
    &__button {
      color: $color-white;
      font-size: 1.8rem;
      &__list {
        font-size: 2.1rem;
        border-radius: 2rem;
        &__item {
          border-radius: 2rem;
        }
        &__item:hover {
          background-color: $color-grey-light;
        }
      }
    }
    &__button:hover {
      color: $color-grey;
    }
  }
}
.main {
  grid-area: main;

  .sectionPagos {
    position: relative;
    background-image: url(imagenes/clouds-and-blue-sky-with-copy-space-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0.5rem 2rem;
    margin: 1rem 0rem 1rem;
    border-radius: 1rem;
  }
  .sectionPagos__nav {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .sectionPagos__nav__botom {
    font-size: 2.2rem;
    font-weight: bold;
    border-top: 0.8rem solid rgb(128, 177, 229);
    border-right: 0.8rem solid brown;
    border-bottom: 0.8rem solid #80b1e5;
    border-left: 0.8rem solid brown;
    padding: 0.3rem 0.8rem;
    background-color: whitesmoke;
  }
  .sectionPagos__nav__botom--pay {
    vertical-align: middle;
  }
  .sectionPagos__nav__botom--text {
    text-decoration: none;
  }

  .main__sectionProdDest {
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
    margin: 2rem 0rem 2rem;
    border-radius: 1rem;
    background-color: $color-white;
    @include dark-mode-secondary-light-activator;
  }
  .main__sectionProdDest__article {
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    border: 0.2rem solid $color-borde;
    border-radius: 3rem;
    padding: 0.5rem;
    width: 18rem;
    height: 19rem;
    margin: 0.5rem;
    overflow: hidden;
    @include dark-mode-secondary-light-activator;
  }
  .main__sectionProdDest__article:hover {
    text-align: center;
    transform: scale(1.1, 1.1);
  }
  .main__sectionProdDest__title {
    margin-bottom: 1rem;
    text-align: center;
    @include dark-mode-primary-light-activator;
  }
  .main__sectionProdDest__title--text {
    font-size: 2rem;
  }
  .main__sectionProdDest__article--text {
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-article-text;
    @include dark-mode-secondary-light-activator;
  }
  .main__sectionProdDest__article--text:hover {
    text-decoration: none;
    color: $color-black;
    @include dark-mode-text-white-activator;
  }
  .main__sectionProdDest__article--imgPaquete {
    width: 7rem;
    height: 10rem;
  }

  .main__sectionPromo {
    border-radius: 1rem;
    background-color: $color-white;
    padding: 2rem 2.5rem 2.5rem;
    @include dark-mode-secondary-light-activator;
  }
  .main__sectionPromo__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    @include dark-mode-primary-light-activator;
  }
  .main__sectionPromo__title--text {
    font-size: 2rem;
  }
  .main__sectionPromo__article {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    border: 0.2rem solid $color-borde;
    border-radius: 3rem;
    padding: 1rem;
    transition: 0.3s;
    margin: 0.7rem;
    width: 25rem;
    height: 26rem;
    overflow: hidden;
  }
  .main__sectionPromo__article:hover {
    transform: scale(1.1, 1.1);
  }
  .main__sectionPromo__article--text {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    color: $color-article-text;
    @include dark-mode-secondary-light-activator;
  }
  .main__sectionPromo__article--text:hover {
    text-decoration: none;
    color: $color-black;
    @include dark-mode-text-white-activator;
  }
  .main__sectionPromo__article--imgPaquete {
    width: 14rem;
    height: 16rem;
  }
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "footer__contact footer__up" "footer__copyright footer__copyright";
  justify-content: space-between;
  margin: 1rem 2rem 2rem 2rem;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  border-top: 0.3rem solid#585F66;
  border-radius: 3rem;
  background-color: whitesmoke;
  &__contact {
    grid-area: footer__contact;
    &__item {
      display: inline-block;
      margin: 0.5rem 0.5rem;
      &--image {
        width: 3rem;
      }
      &--imageMail {
        width: 4rem;
      }
    }
    &__text {
      width: 25rem;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: bold;
    }
  }
  .footer__up {
    grid-area: footer__up;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &--image {
      width: 5rem;
      vertical-align: middle;
    }
    &--text {
      font-size: 1.3rem;
      text-align: center;
    }
  }
  &__copyright {
    grid-area: footer__copyright;
    text-align: center;
  }
}
.chat {
  position: fixed;
  bottom: 16rem;
  right: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: cursive;
  z-index: 999;
}

/* MEDIA QUERIS········································································································ */

/* TABLET························································································································ */
@media (min-width: 768px) {
  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header__title . header__purchase" "header__title search header__navUser" "navBar navBar navBar";
    background-color: $color-site;

    &__title {
      display: flex;
      grid-area: header__title;
      font-size: 1.7rem;
      justify-self: flex-start;
    }
    &__search {
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
    }
    &__navUser {
      grid-area: header__navUser;
      justify-self: flex-end;
      align-self: flex-end;
      font-size: 1.8rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: bold;
      margin-bottom: 1rem;
      &--margin {
        margin-right: 1rem;
      }
    }
  }
  .main {
    .main__sectionProdDest__title {
      display: inline-block;
      justify-self: flex-start;
      text-align: left;
      .main__sectionProdDest__title--text {
        font-size: 2.5rem;
      }
    }
    .main__sectionProdDest__article {
      width: 20rem;
      height: 20rem;
      margin: 0.7rem;
      @include dark-mode-secondary-light-activator;
      .main__sectionProdDest__article--imgPaquete {
        width: 8rem;
        height: 11rem;
      }
    }

    .main__sectionPromo {
      padding: 2rem 2rem 1rem;
      .main__sectionPromo__title {
        margin-bottom: 1rem;
        text-align: left;
        @include dark-mode-primary-light-activator;
        .main__sectionPromo__title--text {
          font-size: 2.5rem;
        }
      }
      .main__sectionPromo__article {
        width: 20rem;
        height: 21rem;
        .main__sectionPromo__article--imgPaquete {
          width: 10rem;
          height: 12rem;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8rem 2rem;
    grid-template-areas: "footer__contact footer__up" "footer__copyright footer__copyright";
    justify-content: space-between;
    padding: 1rem 2rem;
    border-top: 0.3rem solid#585F66;
    .footer__up {
      grid-area: footer__up;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &--image {
        width: 5rem;
        vertical-align: middle;
      }
    }
  }
  .chat {
    position: fixed;
    bottom: 15rem;
    right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
    z-index: 999;
  }
}

/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .header {
    grid-area: header;
    display: none;
    grid-template-columns: auto auto max-content;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header__title header__purchase header__purchase" "header__title search search" "navBar navBar header__navUser";
    background-color: $color-site;
    padding: 0rem 2rem 1rem;
    align-items: center;
    &__title {
      justify-self: flex-start;
      grid-area: header__title;
      font-size: 2rem;
    }
    &__search {
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
      &__imput {
        width: 35rem;
      }
    }
    &__navUser {
      grid-area: header__navUser;
      font-size: 1.8rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: bold;
      margin-bottom: 0rem;
      &--margin {
        margin-right: 4rem;
      }
    }
  }

  .sectionPagos {
    display: block;
    position: relative;
    background-image: url(imagenes/clouds-and-blue-sky-with-copy-space-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0.5rem 2rem;
  }
  .main {
    .main__sectionProdDest {
      flex-wrap: wrap;
      padding: 2rem 2rem;
      padding-bottom: 2.5rem;
      .main__sectionProdDest__article {
        width: 22rem;
        height: 23rem;
        .main__sectionProdDest__article--imgPaquete {
          width: 10rem;
          height: 12rem;
        }
      }
    }
    .main__sectionPromo {
      padding: 2rem 2.5rem 3rem;
      .main__sectionPromo__article {
        width: 26rem;
        height: 27rem;
        .main__sectionPromo__article--imgPaquete {
          width: 15rem;
          height: 18rem;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 2rem;
    grid-template-areas: "footer__contact footer__up" "footer__copyright footer__copyright";
    justify-content: space-between;
    padding: 1rem 2rem;
    .footer__contact {
      display: flex;
      flex-direction: row;
      .footer__contact__text {
        width: 30rem;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: bold;
      }
    }
  }

  .chat {
    position: fixed;
    bottom: 13rem;
    right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
    z-index: 999;
  }
}
