/* **FORMATOS ALTERNATIVOS********************************************************************* */

.body__randomTemplate {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "randomHeader randomHeader" "randomMain randomMain" "randomFooter randomFooter";
}
.headerAlternativo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "headerAlternativo__title headerAlternativo__home";
  background-color: #80b1e5;
  padding: 1rem 2rem;
  &__title {
    justify-self: flex-start;
    font-size: 2.2rem;
    grid-area: headerAlternativo__title;
    &--text {
      text-decoration: none;
    }
    &--text1 {
      color: whitesmoke;
      font-family: serif;
    }
    &--text2 {
      color: rgb(204, 16, 16);
      font-style: italic;
      font-weight: bold;
    }
  }
  &__home {
    vertical-align: middle;
    grid-area: headerAlternativo__home;
    justify-self: flex-end;
    &--text {
      font-size: 2rem;
      text-decoration: none;
      color: rgb(15, 119, 15);
      font-weight: bold;
    }
    &--image {
      width: 6rem;
      vertical-align: middle;
    }
  }
}
.randomMain {
  grid-area: randomMain;
  margin-bottom: 2rem;
}
.randomFooter {
  padding: 0.5rem 2rem;
  border-top: 0.3rem solid black;
  grid-area: randomFooter;
  justify-self: center;
  justify-content: center;
  text-align: center;
}

// /* FORMATO "RANDOM TEMPLATE"************************************************************************************************************* */
// .body__randomTemplate {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: auto auto auto;
//   grid-template-areas: "randomHeader randomHeader" "randomMain randomMain" "randomFooter randomFooter";
// }

// /* FORMATO "RANDOM TEMPLATE"************************************************************************************************************* */
// .body__randomTemplate {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: auto auto auto;
//   grid-template-areas: "randomHeader randomHeader" "randomMain randomMain" "randomFooter randomFooter";
// }
// .headerAlternativo {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr;
//   grid-template-areas: "headerAlternativo__title headerAlternativo__home";
//   background-color: #80b1e5;
//   padding: 1rem 2rem;
//   &__title {
//     justify-self: flex-start;
//     font-size: 2.5rem;
//     grid-area: headerAlternativo__title;
//     &--text {
//       text-decoration: none;
//     }
//     &--text1 {
//       color: whitesmoke;
//       font-family: serif;
//     }
//     &--text2 {
//       color: rgb(204, 16, 16);
//       font-style: italic;
//       font-weight: bold;
//     }
//   }
//   &__home {
//     vertical-align: middle;
//     grid-area: headerAlternativo__home;
//     justify-self: flex-end;
//     &--text {
//       font-size: 2rem;
//       text-decoration: none;
//       color: rgb(15, 119, 15);
//       font-weight: bold;
//     }
//     &--image {
//       width: 6rem;
//       vertical-align: middle;
//     }
//   }
//   .header__navMenu__listaProceso__item {
//     width: 75rem;
//     font-size: 2rem;
//   }
// }
