/* PAGINA "AYUDA"**************************************************************************** */
.body__randomTemplateAyu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "randomHeader" "mainAyuda" "randomFooter";

  background-color: whitesmoke;
}
.mainAyuda {
  grid-area: mainAyuda;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__contTitle {
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  &__cuestion {
    width: 29rem;
    border-radius: 1rem;
    padding: 0rem 2rem;
    background-color: whitesmoke;
    &__title {
      font-size: 3rem;
    }
    &__subTitle {
      font-size: 2rem;
      margin-top: 1rem;
      background-color: whitesmoke;
    }
    &__text {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

/* MEDIA QUERIS········································································································ */

/* TABLET························································································································ */
@media (min-width: 768px) {
  .mainAyuda__contTitle {
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0rem;
  }
  .mainAyuda__cuestion {
    width: 60rem;
    border: 0.2rem solid black;
    padding: 0rem 2rem;
    &__subTitle {
      font-size: 2.7rem;
    }
  }
}

/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .mainAyuda__cuestion {
    width: 100rem;
    border: 0.2rem solid black;
    padding: 0rem 2rem;
    background-color: whitesmoke;
    &__subTitle {
      font-size: 3.4rem;
    }
    &__text {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }
}
