/* PAGINA "OFERTAS"**************************************************************************** */

.mainTemplate {
  border: 0.3rem solid#585F66;
  border-radius: 1rem;
  background-color: white;
  .mainTemplate__title {
    font-size: 3rem;
  }

  .mainTemplate__article--imgPaquete {
    width: 8rem;
    height: 11rem;
  }
  .mainTemplate__article--text {
    text-align: center;
  }
}

/* MEDIA QUERIS········································································································ */

/* TABLET························································································································ */
@media (min-width: 768px) {
  .mainTemplate {
    border: 0.3rem solid#585F66;
    border-radius: 1rem;
    background-color: white;
    .mainTemplate__title {
      font-size: 4rem;
    }
    .mainTemplate__article--imgPaquete {
      width: 11rem;
      height: 14rem;
    }
  }
}
/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .mainTemplate {
    border: 0.3rem solid#585F66;
    border-radius: 1rem;
    background-color: white;
    .mainTemplate__title {
      font-size: 5rem;
    }
    .mainTemplate__article--imgPaquete {
      width: 14rem;
      height: 17rem;
    }
  }
}
