/* TEMPLATES **************************************************************************** */

.bodyTemplate {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}
.mainTemplate {
  border-radius: 1rem;
  background-color: $color-white;
  @include dark-mode-background-black-activator;
  &__title {
    font-size: 3rem;
  }
  &__article {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    position: relative;
    overflow: hidden;
    &__carrito {
      position: absolute;
      margin-top: 7rem;
      margin-left: -31rem;
      transition: 0.3s;
      &--img {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
        margin: 1rem;
      }
    }
    &--imgPaquete {
      width: 8rem;
      height: 12rem;
      margin-bottom: 0.5rem;
    }
    &__box {
      width: 15rem;
      border-top: 0.15rem solid $color-grey;
      &--text {
        text-align: center;
        color: $color-article-text;
        @include dark-mode-secondary-light-activator;
        @include dark-mode-text-white-activator;
      }
    }
  }
  &__article:hover {
    @include dark-mode-fx-light-activator;
    @include dark-mode-box_shadow-none-activator;
  }
  &__article:hover .mainTemplate__article__carrito {
    transform: translateX(8rem);
  }

  a {
    text-decoration: none;
  }
  article a h4 {
    font-size: 1.7rem;
  }
  article a p {
    font-size: 1.8em;
  }
}
#main.dark {
  @include dark-mode-background-black;
}
#pagos_1.dark {
  @include dark-mode-primary;
  :hover {
    color: $color-green;
  }
}
#pagos_2.dark {
  @include dark-mode-primary;
  :hover {
    color: $color-green;
  }
}
#pagos_3.dark {
  @include dark-mode-primary;
  :hover {
    color: $color-green;
  }
}
#pagos_4.dark {
  @include dark-mode-primary;
  :hover {
    color: $color-green;
  }
}
#pagos_1_text.dark {
  @include dark-mode-primary;
}
#pagos_2_text.dark {
  @include dark-mode-primary;
}
#pagos_3_text.dark {
  @include dark-mode-primary;
}
#pagos_4_text.dark {
  @include dark-mode-primary;
}
#productosDestacados.dark {
  @include dark-mode-primary-light;
}
#prodDestTitle.dark {
  @include dark-mode-primary-light;
}
#promociones.dark {
  @include dark-mode-primary-light;
}
#promoTitle.dark {
  @include dark-mode-primary-light;
}
.prodD1T.dark {
  @include dark-mode-text-yellow;
}
.prodD1P.dark {
  @include dark-mode-text-yellow;
}
.prodD2T.dark {
  @include dark-mode-text-yellow;
}
.prodD2P.dark {
  @include dark-mode-text-yellow;
}
.prodD3T.dark {
  @include dark-mode-text-yellow;
}
.prodD3P.dark {
  @include dark-mode-text-yellow;
}
.prodD4T.dark {
  @include dark-mode-text-yellow;
}
.prodD4P.dark {
  @include dark-mode-text-yellow;
}
.prodD5T.dark {
  @include dark-mode-text-yellow;
}
.prodD5P.dark {
  @include dark-mode-text-yellow;
}
.prodD6T.dark {
  @include dark-mode-text-yellow;
}
.prodD6P.dark {
  @include dark-mode-text-yellow;
}
.prodD7T.dark {
  @include dark-mode-text-yellow;
}
.prodD7P.dark {
  @include dark-mode-text-yellow;
}
.prodD8T.dark {
  @include dark-mode-text-yellow;
}
.prodD8P.dark {
  @include dark-mode-text-yellow;
}
.prodD9T.dark {
  @include dark-mode-text-yellow;
}
.prodD9P.dark {
  @include dark-mode-text-yellow;
}
.prodD10T.dark {
  @include dark-mode-text-yellow;
}
.prodD10P.dark {
  @include dark-mode-text-yellow;
}
.prodD11T.dark {
  @include dark-mode-text-yellow;
}
.prodD11P.dark {
  @include dark-mode-text-yellow;
}
.prodD12T.dark {
  @include dark-mode-text-yellow;
}
.prodD12P.dark {
  @include dark-mode-text-yellow;
}
.prodM1T.dark {
  @include dark-mode-text-yellow;
}
.prodM1P.dark {
  @include dark-mode-text-yellow;
}
.prodM2T.dark {
  @include dark-mode-text-yellow;
}
.prodM2P.dark {
  @include dark-mode-text-yellow;
}
.prodM3T.dark {
  @include dark-mode-text-yellow;
}
.prodM3P.dark {
  @include dark-mode-text-yellow;
}
.prodM4T.dark {
  @include dark-mode-text-yellow;
}
.prodM4P.dark {
  @include dark-mode-text-yellow;
}
.prodM5T.dark {
  @include dark-mode-text-yellow;
}
.prodM5P.dark {
  @include dark-mode-text-yellow;
}
.prodM6T.dark {
  @include dark-mode-text-yellow;
}
.prodM6P.dark {
  @include dark-mode-text-yellow;
}

/* MEDIA QUERIS········································································································ */

/* TABLET························································································································ */
@media (min-width: 768px) {
  .mainTemplate {
    border-radius: 1rem;
    background-color: $color-white;
    &__title {
      font-size: 4rem;
    }
    &__article {
      &__carrito {
        margin-top: 10rem;
        margin-left: -29rem;

        &--img {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
      &--imgPaquete {
        width: 11rem;
        height: 15rem;
      }
      &__box {
        width: 18rem;
      }
    }
    &__article:hover .mainTemplate__article__carrito {
      transform: translateX(6rem);
    }
    article a h4 {
      font-size: 1.8rem;
    }
    article a p {
      font-size: 2em;
    }
  }
}
/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .mainTemplate {
    border-radius: 1rem;
    background-color: $color-white;
    &__title {
      font-size: 5rem;
    }
    &__article {
      &__carrito {
        margin-top: 13rem;
        margin-left: -37rem;

        &--img {
          width: 3.6rem;
          height: 3.6rem;
        }
      }
      &__box {
        width: 23rem;
      }
      &--imgPaquete {
        width: 13rem;
        height: 19rem;
      }
    }
    &__article:hover .mainTemplate__article__carrito {
      transform: translateX(9rem);
    }
    article a h4 {
      font-size: 1.9rem;
    }
    article a p {
      font-size: 2.1em;
    }
  }
}
