/* TEMPLATES **************************************************************************** */

.mainTemplate {
  border: 0.3rem solid#585F66;
  border-radius: 1rem;
  background-color: white;

  &__title {
    font-size: 3rem;
  }
  &__article {
    transition: 0.4s;
  }
  &__article:hover {
    border-radius: 8rem;
    background-color: $color-green;
    @if $dark-mode-status == true {
      @include dark-mode-fx;
    }
  }
  &__article--imgPaquete {
    width: 8rem;
    height: 11rem;
  }
  &__article--text {
    text-align: center;
    color: $color-article-blue-light;
    @include dark-mode-secondary;
  }
  &__article--text:hover {
    text-align: center;
    color: $color-black;
    @if $dark-mode-status == true {
      color: $color-white;
    }
  }
  a {
    text-decoration: none;
  }
  article a h4 {
    font-size: 1.7rem;
  }
  article a p {
    font-size: 1.8em;
  }
}

/* MEDIA QUERIS········································································································ */

/* TABLET························································································································ */
@media (min-width: 768px) {
  .mainTemplate {
    border: 0.3rem solid#585F66;
    border-radius: 1rem;
    background-color: white;
    &__title {
      font-size: 4rem;
    }
    &__article--imgPaquete {
      width: 11rem;
      height: 14rem;
    }
    article a h4 {
      font-size: 1.8rem;
    }
    article a p {
      font-size: 2em;
    }
  }
}
/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .mainTemplate {
    border: 0.3rem solid#585F66;
    border-radius: 1rem;
    background-color: white;
    &__title {
      font-size: 5rem;
    }
    &__article--imgPaquete {
      width: 14rem;
      height: 17rem;
    }
    article a h4 {
      font-size: 1.9rem;
    }
    article a p {
      font-size: 2.1em;
    }
  }
}
