//COLORES***************************************************************************************
$color-borde: #d1d0d0 !default;
$color-site: #80b1e5 !default;
$color-green: #89e675 !default;
$color-violet: #e697d2 !default;
$color-brown-light: #e6b86a !default;
$color-rose: #e6ad8c !default;
$color-rose-light: #e9d3bc !default;
$color-black: rgb(50, 50, 50);
$color-white: rgb(200, 200, 200);
$color-yellow: rgb(200, 200, 20);
$color-article-blue-light: #0089b3;

//PRUEBA*****************************************************************************

//DARK MODE*****************************************************************************
$dark-mode-status: false; // Para activar "Modo Oscuro", cambiar valor a "true" o "false" para desactivar.

@mixin dark-mode-background {
  @if $dark-mode-status == true {
    background-color: $color-black;
  }
}
@mixin dark-mode-text-white {
  @if $dark-mode-status == true {
    color: $color-white;
  }
}
@mixin dark-mode-text-yellow {
  @if $dark-mode-status == true {
    color: $color-yellow;
  }
}
@mixin dark-mode-fx {
  @if $dark-mode-status == true {
    border-left: 0.2rem solid $color-green;
    border-right: 0.2rem solid $color-green;
    border-radius: 5rem;
    background-color: $color-black;
  }
}
@mixin dark-mode-primary {
  @include dark-mode-background;
  @include dark-mode-text-white;
}
@mixin dark-mode-secondary {
  @include dark-mode-background;
  @include dark-mode-text-yellow();
}

#body {
  @if $dark-mode-status == true {
    @include dark-mode-primary();
  }
}
#main {
  @if $dark-mode-status == true {
    @include dark-mode-primary();
  }
}
#footer {
  @if $dark-mode-status == true {
    @include dark-mode-primary();
  }
}
