/* CARROUSEL········································································································ */

/* MEDIA QUERIS········································································································ */
/* TABLET························································································································ */
@media (min-width: 768px) {
  .sectionBanner {
    margin-top: 2rem;
  }
  .sectionBanner__image {
    height: 35rem;
  }
}

/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .sectionBanner {
    height: 40rem;
  }
  .sectionBanner__image {
    height: 40rem;
  }
}
