/* FORMULARIO "INGRESO"*************************************************************************** */

.mainIngreso {
  display: flex;
  grid-area: mainIngreso;
  justify-content: center;
  align-items: center;
}
.mainIngreso__form {
  width: 25rem;
}
.mainIngreso__form__botomSubmit--text {
  font-size: 1.5rem;
}
.mainIngreso__form--textoChico {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.mainIngreso__form--text {
  font-size: 2rem;
}
.form__title {
  font-size: 2rem;
}
.mainIngreso__form__fieldset {
  border-radius: 1.5rem;
  background-color: whitesmoke;
  border: 0.3rem double rgb(15, 119, 15);
}
#usuarioIng {
  width: 15rem;
  height: 2.2rem;
  transition: all 1s;
}
#usuarioIng:focus {
  width: 22rem;
  height: 2.7rem;
  font-size: 2rem;
}
#contrasenaIng {
  width: 17rem;
  height: 2.2rem;
  transition: all 1s;
}
#contrasenaIng:focus {
  width: 22rem;
  height: 2.7rem;
  font-size: 1.8rem;
}
.mainIngreso__submit {
  font-size: 2rem;
  padding: 0.5rem;
}
.mainIngreso__submit:hover {
  background-image: radial-gradient(whitesmoke, rgb(159, 200, 228));
}
.mainIngreso__recordarContrasena {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* MEDIA QUERIS········································································································ */

/* TABLET························································································································ */
@media (min-width: 768px) {
  .mainIngreso__form--textoChico {
    font-size: 1.5rem;
  }
  .mainIngreso__form--texto {
    font-size: 2rem;
  }

  .mainIngreso__recordarContrasena {
    margin-top: 1.2rem;
  }
}

/* DESKTOP ······················································································································· */
@media (min-width: 1024px) {
  .mainIngreso__form--textoChico {
    font-size: 1.5rem;
  }
  .mainIngreso__form--texto {
    font-size: 2.5rem;
  }
}
